#categorias {
    display: block;
    margin-top: -10px;
    position: relative;
    padding-bottom: 20px;
}

#categorias h4 {
    margin-top: 20px;
    margin-bottom: -10px;
}

#categorias hr {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
