#carrito {
    margin: 20px 0;
}

#carrito button {
    padding: 11px 15px 7px;
    border: 1px solid silver;
    border-radius: 0;
}

#carrito p {
    padding: 2px;
    padding-left: 60px;
    border: 1px solid #aaa;
    font-size: 12px;
}
