html,
body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

#root {
    height: 100%;
}

ul,
ol {
    padding: 0px;
}

a:visited,
a:link,
a:focus,
a:hover,
a:active {
    list-style: none;
    text-decoration: none;
}
/*=============================================
react-modal styles
=============================================*/
.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

/*=============================================
LARGE DESK (LG reviewed in 1366px onwards)
=============================================*/

@media (min-width: 1200px) {
    .col-lg-0 {
        display: none;
    }
}

/*=============================================
MEDIUM DESKTOP OR HORIZONTAL TABLET (MD we review at 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {
    .col-md-0 {
        display: none;
    }
}

/*=============================================
SMALL DESKTOP OR VERTICAL TABLET (SM we review at 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {
    .col-sm-0 {
        display: none;
    }
}

/*=============================================
MOBILE (XS we review in 320px)
=============================================*/

@media (max-width: 767px) {
    .col-xs-0 {
        display: none;
    }
}

.swal2-popup {
    font-size: 1.6rem !important;
}
